.header__heading{
    width: 60%;
    height: 100vh;
    padding-left: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;

    @media only screen and (max-width:37.5em){
        padding-left: 10rem;
    }
    @media only screen and (max-width:25.5em){
        padding-left: 5rem;
    }

    

    &-title{
        font-size: 5rem;
        animation: fade-in 2s linear forwards;
        color: $color-primary;
        text-shadow: .3rem .3rem 0rem rgba($color-font,.3);

        @media only screen and (max-width:37.5em){
            font-size: 3rem;
        }
       
    }
    &-text{
        font-size: 2rem;
        margin-bottom: 5rem;
        animation: fade-in 2s linear forwards;

        @media only screen and (max-width:37.5em){
            font-size: 1.5rem;
        }
        
    }
}

@keyframes fade-in {
   from{
    opacity: 0;
   }
    to{
        opacity: 1;
    }
}

#bubbles{
    width: 30%;
    height: 10%;
    position: absolute;
    top: 2%;
    right: 0%;
    filter: drop-shadow(2px 2px 4px rgba(255,255,255,.3));
}

