#languageSwitcher{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-top: 1.1rem;
    margin-left: 3rem;
    height: 2rem;
    border: 2px solid $color-font;
    border-radius: 1rem;
    padding: .3rem;

   
  @media only screen and (max-width:25.5em){
    margin-top: 0rem;
    padding: 0.1rem;
}

}
.lang-btn__srp, 
.lang-btn__eng{
font-size: 1.2rem;
background-color: transparent;
border: none;
padding-right: .5rem;
color: $color-font;
cursor: pointer;
}

.lang-btn__srp:hover, 
.lang-btn__eng:hover{
    color: $color-primary;
}