progress {
	-webkit-appearance: none;
	appearance: none;
	position: fixed;
	top: 8%;
	left: 5%;
	transform: translate(calc(-50% + 3px), calc(50vh - 50%)) rotate(90deg);
	width: 100vh;
	height: 1rem;
}

progress::-webkit-progress-bar {
	background-color: transparent;
}

progress[value="100"]::-webkit-progress-bar {
	background-color: rgb(16, 213, 248);
}

progress::-webkit-progress-value {
	background-color: rgb(16, 213, 248);
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}