.heading-container{
    width: 50%;
    height: 50%;
    border: 2px solid $color-primary;
    padding: 5rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:.5rem .5rem 5rem rgba(255,255,255,.15);
    background-color: rgba(0,0,0,.15);

    &-title{
        font-size: 3rem;
        font-weight: 700;
        padding-bottom: 2rem;
        color: $color-primary;
        text-shadow: .2rem .2rem .4rem rgba($color-font,.3);
    }

    &-text{
        font-size: 2rem;
        text-align: justify;
    }

    &-projects{
        width: 30%;
        height: 60%;
    }

    &-pictures{
        width: 20%;
        margin-left: 5rem;
        position: relative;

    }

    &-contact{
        width: 30%;
        height: 70%;
        padding: 2rem;
    }
}